.root {
    -fx-background-color: white;
}
.start-game-button {
    -fx-background-color: orange;
    -fx-text-fill: white;
    -fx-font-size: 20px;
    -fx-font-weight: bold;
    -fx-background-radius: 20px;
    -fx-cursor: hand;
}
.check-box .box {
    -fx-background-color: white;
    -fx-border-color: #ff9900;
    -fx-border-width: 2px;
    -fx-border-radius: 3px;
}
.check-box:selected .mark {
    -fx-background-color: #ff9900;
}